<body>
    <h1>Billing  Address</h1>
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="field">
          <mat-label class="label">Enter your House No./Flat No.</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="H-123/B-10D" formControlName="houseNo" required (keypress)="keyPressNumbers($event)">
            <mat-error *ngIf="addressForm.controls.houseNo.invalid">Please enter the house number.</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label class="label">Enter your Area/Locality</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Sector-58" formControlName="area" required >
            <mat-error *ngIf="addressForm.controls.area.invalid">Please enter the area.</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label class="label">Enter your City/State</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Noida" formControlName="city" required (keypress)="keyPressAlphanumeric($event)">
            <mat-error *ngIf="addressForm.controls.city.invalid">Please enter the city.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="field">
          <mat-label class="label">Enter your Pincode</mat-label>
          <mat-form-field appearance="outline">
            <input matInput maxlength="6" placeholder="234134" formControlName="pincode" required (keypress)="keyPressNumbers($event)">
            <mat-hint align="end">{{addressForm.controls.pincode.value?.length || 0}}/6</mat-hint>
            <mat-error *ngIf="addressForm.controls.pincode.invalid">Please enter the pincode.</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-label class="label">Enter your Phone Number</mat-label>
          <mat-form-field appearance="outline">
            <input matInput maxlength="10" placeholder="12**********98" formControlName="phoneNumber" required (keypress)="keyPressNumbers($event)">
            <mat-hint align="end">{{addressForm.controls.phoneNumber.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="addressForm.controls.phoneNumber.invalid">Please enter the Phone number.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="btn">
        <button mat-raised-button type="button" matStepperPrevious>Back</button>
        <button mat-raised-button type="submit" matStepperNext [disabled]="addressForm.invalid">Procced</button>
      </div>
    </form>
  </body>
